@mixin boxShadow($property...) {
    -webkit-box-shadow: $property; // Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ 
    -moz-box-shadow: $property; // Firefox 3.5 - 3.6 
    box-shadow: $property;
}

@mixin transform($property...) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin transition($property...) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}