footer {
    margin-top: 104px;
    margin-bottom: 209px;
    .footer-line {
        color: #707070;
    }
    .footer-body {
        margin-top: 90px;
        .footer-logo {
            width: 85%;
        }
        .copyright {
            margin-top: 66px;
            color: #707070;
            font-size: 15px;
        }
        .footer-text {
            color: #707070;
            font-size: 15px;
        }
        .footer-link {
            color: #707070;
            font-size: 15px;
            &:hover {
                color: $secondry-color;
            }
        }
    }
}

@include media-breakpoint-md {
    footer {
        margin: 50px 0;
        .footer-logo {
            width: 35% !important;
        }
        .footer-text {
            margin-top: 20px;
        }
    }
}