/**NAVIGATION BAR**/

.navbar-custom {
    margin: 56.5px 0 20px;
}


/**END OF NAVIGATION BAR**/


/**BODY CONTAINER DESKTOP VERSION**/

.body-container {
    margin-left: 145px;
    margin-right: 145px;
}


/**END OF BODY CONTAINER DESKTOP VERSION**/


/**BODY CONTAINER MOBILE VERSION**/

@include media-breakpoint-md {
    .body-container {
        margin-left: 18px !important;
        margin-right: 18px !important;
    }
}


/**END OF BODY CONTAINER MOBILE VERSION**/


/**SECTION ONE**/

.information-section-1 {
    margin-top: 125px;
    .car-info {
        .car-name {
            width: 90%;
        }
        .overview {
            margin-top: 58px;
            p {
                margin: 0 0;
            }
            .overview-head {
                color: $secondry-color;
                font-size: 15px;
            }
            .overview-details {
                font-size: 15px;
                margin-top: 20px;
            }
        }
        .performance {
            margin-top: 53px;
            p {
                margin: 0 0;
            }
            .performance-head {
                font-size: 15px;
                color: $secondry-color;
            }
            .performance-details {
                font-size: 15px;
                margin-top: 20px;
            }
        }
        .car-image {
            width: 100%;
        }
    }
}

@include media-breakpoint-md {
    .information-section-1 {
        .car-name {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


/**END OF SECTION ONE**/


/**SECTION TWO**/


/**SECTION TWO DESKTOP VERSION**/

.information-navigation-menu {
    width: 100%;
    margin: 49px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .list-link {
        text-align: left;
        font-size: 15px;
        width: auto;
        margin: 0px 20px;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: $secondry-color;
            padding: 5px 0;
            @include transition(.3s)
        }
    }
}


/**END OF SECTION TWO DESKTOP VERSION**/


/**SECTION TWO MOBILE VERSION**/

@include media-breakpoint-md {
    .information-navigation-menu {
        margin: 74px 0 59px;
        white-space: nowrap;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}


/**END OF SECTION TWO MOBILE VERSION**/


/**END OF SECTION TWO**/


/**SECTION THREE**/


/**SECTION THREE MIXIN**/

@mixin accordion-btn {
    .accordion-button {
        // font-size: 30px;
        color: #E4E4E4;
        border-bottom: 1px solid #707070;
        height: 33.5px;
        &:focus {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #707070;
            box-shadow: none;
        }
        &:not(.collapsed) &::after {
            background-image: url(../images/icons/down-arrow-icon.svg);
        }
        &:not(.collapsed) {
            background-color: transparent;
            border-left: none;
            border-top: none;
            border-right: none;
        }
        &::after {
            background-image: url(../images/icons/down-arrow-icon.svg);
        }
    }
}

@mixin information-section-3 {
    .information-section-3-title {
        font-size: 47px;
        color: $color;
    }
    .highlights-list {
        margin-top: 47px;
        .accordion-item {
            @include accordion-btn;
            .accordion-body {
                p {
                    color: #E4E4E4;
                    font-weight: 300;
                    font-size: 21px;
                    margin-bottom: 0;
                }
            }
        }
    }
}


/**END OF SECTION THREE MIXIN**/


/**SECTION THREE DESKTOP VERSION**/

.information-section-3-mobile {
    display: none;
}

.information-section-3-desktop {
    margin-left: 143px;
    @include information-section-3;
    .highlights-image {
        width: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        #{$start-direction}: 0;
        z-index: 1;
        @include transition( opacity 3s ease);
        &.show-image {
            opacity: 1;
            z-index: 2;
        }
    }
}


/**END OF SECTION THREE DESKTOP VERSION**/


/**SECTION THREE MOBILE VERSION**/

@include media-breakpoint-md {
    .information-section-3-desktop {
        display: none;
    }
    .information-section-3-mobile {
        display: block;
        margin: 0 18px;
        @include information-section-3;
        .information-section-3-title {
            font-size: 33px;
        }
        .highlights-list {
            margin-top: 26px;
            .accordion-button {
                font-size: 13px;
            }
            .accordion-body {
                .accordion-img {
                    width: 100%;
                    margin: 10px 0;
                }
                p {
                    font-size: 12px !important;
                }
            }
        }
    }
}


/**END OF SECTION THREE MOBILE VERSION**/


/**END OF SECTION THREE**/


/**SECTION FOUR**/

.exterior-design {
    margin-top: 103px;
    margin-left: 143px;
    // overflow-x: hidden;
    .exterior-title {
        color: $color;
    }
    .swiper-wrapper {
        border: none;
        .exterior-image {
            width: 100%;
            border: none;
            &+.exterior-image {
                margin-right: 10px;
            }
        }
        .exterior-text {
            color: #E4E4E4;
            font-size: 17px;
            margin-top: 35px;
        }
    }
}

@include media-breakpoint-md {
    .exterior-design {
        margin-top: 37.5px;
        margin-left: 38px;
        .exterior-title {
            font-size: 33px;
        }
        .exterior-text {
            font-size: 11px !important;
            margin-top: 12px !important;
        }
    }
}


/**END OF SECTION FOUR**/


/**SECTION FIVE**/

.interior-design {
    margin-top: 103px;
    margin-left: 143px;
    // overflow-x: hidden;
    .interior-title {
        color: $color;
    }
    .swiper-wrapper {
        border: none;
        .interior-image {
            width: 100%;
            border: none;
            &+.interior-image {
                margin-right: 10px;
            }
        }
        .interior-text {
            color: #E4E4E4;
            font-size: 17px;
            margin-top: 35px;
        }
    }
}

@include media-breakpoint-md {
    .interior-design {
        margin-top: 37.5px;
        margin-left: 38px;
        .interior-title {
            font-size: 33px;
        }
        .interior-text {
            font-size: 11px !important;
            margin-top: 12px !important;
        }
    }
}


/**END OF SECTION FIVE**/


/**SECTION SIX**/

.car-colors {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .car-image {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }
    .colors {
        margin-top: 75px;
        .colors-title {
            text-align: center;
            color: $color;
        }
        .colors-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .color-btn {
                margin-top: 20px;
                margin-right: 23px;
                border: 1px solid #707070;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                &.white-color {
                    background-color: $color;
                }
                &.blue-color {
                    background-color: #232E83;
                }
                &.brown-color {
                    background-color: #4A3525;
                }
                &.red-color {
                    background-color: #D32A2A;
                }
            }
        }
    }
}

@include media-breakpoint-md {
    .car-colors {
        margin-top: 55px;
        .colors {
            margin-top: 14px;
            .colors-title {
                font-size: 28px;
                .color-btn {
                    margin-top: 15px !important;
                    margin-right: 15px !important;
                    width: 24px !important;
                    height: 24px !important;
                }
            }
        }
    }
}


/**END OF SECTION SIX**/


/**SECTION SEVEN**/

.gallery {
    margin-top: 109px;
    .gallery-title {
        color: $color;
        text-align: center;
    }
    .gallery-container {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .image-container {
            display: block;
            position: relative;
            text-align: center;
            z-index: 1;
            &:hover {
                .red-box {
                    opacity: 1;
                    z-index: 2;
                }
            }
            .gallery-image-title {
                position: absolute;
                color: $color;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                top: 20px;
            }
            .gallery-image {
                width: 250px;
                height: 250px;
            }
            .gallery-image-arrow {
                position: absolute;
                bottom: 20px;
                right: 25%;
                left: 50%;
                margin-left: -25px;
            }
        }
        .red-box {
            background-color: $secondry-color;
            width: 250px;
            height: 250px;
            position: absolute;
            opacity: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            @include transition( opacity 1s ease);
            .red-box-title {
                text-align: center;
                color: $color;
                position: relative;
                top: 20px;
            }
            .red-box-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 74%;
            }
            .red-box-arrow {
                border: none;
                border-radius: 50%;
                background-color: $color;
                width: 50px;
                height: 50px;
                position: absolute;
                bottom: 20px;
                right: 25%;
                left: 50%;
                margin-left: -25px;
                .fa {
                    color: #5A80FB;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        .image-container:hover {
            .red-box {
                opacity: 1;
            }
        }
    }
}

@include media-breakpoint-md {
    .gallery {
        margin-top: 60px;
        .gallery-title {
            font-size: 19px;
        }
        .gallery-container {
            .gallery-image-title {
                display: none;
            }
            .gallery-image-arrow {
                display: none;
            }
        }
    }
}


/**END OF SECTION SEVEN**/


/**SECTION EIGHT**/

.major-specs {
    margin-top: 114px;
    .major-specs-title {
        font-size: 37px;
        color: $color;
        margin-bottom: 38px;
    }
    .major-specs-text {
        color: #E4E4E4;
        font-weight: 300;
        font-size: 16px;
        margin: 0 0;
    }
}

@include media-breakpoint-md {
    .major-specs {
        margin-top: 55px;
        .major-specs-title {
            font-size: 30px;
            text-align: center;
            margin-bottom: 0;
        }
        .title {
            margin-top: 30px;
            color: #E4E4E4;
            font-weight: 500;
            font-size: 15px;
        }
        .description {
            font-weight: 300;
            font-size: 15px;
        }
    }
}


/**END OF SECTION EIGHT**/


/**SECTION NINE**/

.configuration {
    margin-top: 56px;
    .title-button-container {
        display: flex;
        .configuration-title {
            font-size: 37px;
            color: $color;
            width: auto;
            white-space: nowrap;
        }
        .accordion-header {
            margin-left: 22.5px;
            width: 100%;
            &#config-2 {
                margin-left: 68px;
            }
            @include accordion-btn;
            .accordion-button {
                height: 50%;
                &.mobile {
                    display: none;
                }
            }
        }
    }
    .accordion-body {
        .table {
            .table-head {
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                font-weight: 300;
                font-size: 18px;
                color: $color;
                border-top: none;
                border-bottom: 1px solid #292929;
                text-align: center;
                &.config {
                    text-align: left;
                }
            }
            .table-data {
                color: #E4E4E4;
                font-weight: 300;
                border-bottom: 1px solid #292929;
                font-size: 21px;
                .spec-check {
                    border: 1px solid #707070;
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    background-color: transparent;
                    display: inline-block;
                    &.checked {
                        background-color: $color;
                    }
                }
                &.table-data-centered {
                    text-align: center;
                }
            }
        }
    }
}

@include media-breakpoint-md {
    .configuration {
        margin-top: 43px;
        .accordion-item {
            .configuration-title {
                display: none;
            }
            .accordion-header {
                margin-left: 0;
                &#config-2 {
                    margin-left: 0;
                }
                .accordion-button {
                    &.desktop {
                        display: none;
                    }
                    &.mobile {
                        display: block !important;
                        text-align: left;
                        height: 100%;
                    }
                }
            }
            .accordion-body {
                .table-head {
                    font-size: 13px;
                }
                .table-data {
                    font-size: 12px;
                    .spec-check {
                        width: 15px;
                        height: 15px;
                    }
                }
                .supreme {
                    display: none;
                }
            }
        }
    }
}


/**END OF SECTION NINE**/


/**SECTION TEN**/

.starting-from {
    margin-top: 130px;
    .starting-from-title {
        color: $color;
        margin-bottom: 35px;
    }
    p {
        color: #E4E4E4;
        font-weight: 300;
        margin: 0 0;
        font-size: 21px;
    }
}

@include media-breakpoint-md {
    .starting-from {
        margin-top: 56px;
        .starting-from-title {
            font-size: 28px;
            margin-bottom: 10px;
            text-align: center;
        }
        p {
            font-size: 15px;
        }
    }
}


/**END OF SECTION TEN**/


/**SECTION ELEVEN**/

@mixin appointment-form {
    display: flex;
    flex-direction: column;
    .form-label {
        margin-top: 40px;
        color: #E4E4E4;
        font-weight: 500;
        margin-bottom: 6px;
        font-size: 21px;
    }
    .form-select {
        font-size: small;
        // margin-bottom: 40px;
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #707070;
        cursor: pointer;
        color: #707070;
        &:focus {
            border-bottom: 1px solid #707070;
            box-shadow: none;
        }
        .select-option {
            color: #707070;
            border: 0;
            background: transparent;
            -webkit-appearance: none;
        }
    }
    .form-input {
        color: #707070;
        font-size: small;
        // margin-top: 40px;
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #707070;
        &:focus {
            outline: none;
            border-bottom: 1px solid #707070;
        }
    }
}

.appointment {
    margin-top: 60px;
    .appointment-title {
        margin-bottom: 4px;
        color: $color;
        font-size: 47px;
    }
    .form-one {
        @include appointment-form;
    }
    .form-two {
        @include appointment-form;
    }
    .send-btn {
        margin-top: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        &:focus {
            outline: none;
        }
    }
}

@include media-breakpoint-md {
    .appointment {
        .appointment-title {
            font-size: 28px;
            text-align: center;
        }
    }
}


/**END OF SECTION ELEVEN**/


/**SECTION TWELVE**/

.where-to {
    margin-top: 61px;
    .where-to-title {
        color: $color;
    }
    .cars {
        margin-top: 64px;
        display: flex;
        justify-content: center;
        .car {
            display: flex;
            flex-direction: column;
            align-items: center;
            .car-image {
                width: 100%;
            }
            .car-name-image {
                margin-top: 10px;
                width: 90%;
            }
        }
    }
}

@include media-breakpoint-md {
    .where-to {
        .where-to-title {
            font-size: 25px;
            text-align: center;
        }
        .cars {
            flex-direction: column;
        }
    }
}


/**END OF SECTION TWELVE**/