body {
    direction: rtl;
    background-color: black;
    overflow-x: hidden;
}

/* BIG SCREENS AND SMALL SCREENS (GENERAL) */
/* NAVBAR */
.navbar-toggle {
    display: none;
}

.nav-link {
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.nav-link:hover {
    color: #e40000;
    border-bottom: 1px solid #e40000;
    display: inline-block;
}
/* END OF NAVBAR */
/*---START-SHOME-PAGE*/
.home-screen-container{
    height: calc(100vh - 171px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}
/* SLIDER */
.slider {
	background-color: transparent;
}

.slider .swiper-container {
	position: static;
	width: 100%;
}

.slider .card {
	border: none;
    background-color: transparent;
}

.slider-car {
	margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: auto;
}

.slider-carname {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: auto;
}
/* END OF SLIDER */

/* DISCOVE MORE, SOCIAL MEDIA, & SLIDER BUTTONS */
.discover-more-btn {
    display: flex;
    justify-content: center;
}

.btn-style-1 {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 149px;
    height: auto;
    font-size: 12px;
}

.btn-style-1:hover {
    color: #e40000;
}

.mouse {
    display: flex;
    justify-content: center;
}

.btn-style-3 {
    position: relative;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    width: 18px;
    
}
.btn-style-3:focus{
    outline: none;
}
.btn-style-3::before {
    content: '';
    height: 8px;
    width: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
    animation: mouseAnimation 3s infinite;
}

@keyframes mouseAnimation {
    0%   {top: 2px;}
    100% {top: 7px;}
  }
/* END OF DISCOVE MORE, SOCIAL MEDIA, & SLIDER BUTTONS */
/* END OF GENERAL */

/* NAVBAR */
.navbar-nav {
    height: 36px;
    /* margin-right: 200px; */
}

.ml-auto, .mx-auto {
    margin-left: 0px !important;
    margin-right: auto !important;
}

/* .navbar-nav > li {
    padding-right: 5px;
    padding-left: 5px;
} */

.navbar-custom {
    margin: 20px 80px;
}

.logo-image {
    width: 70%;
    height: auto;
}
/* END OF NAVBAR */

/* DROPDOWN */
.navbar-custom .dropdown:hover > .dropdown-menu {
    display: inline-block;
}

.navbar-custom .dropdown-menu {
    background-color: black;
    position: relative;
    left: -400px;
}

.navbar-custom .dropdown-item:hover {
    background: none;
}

.dropdown-cars {
    display: flex;
    flex-direction: row;
}

.car-carname {
    display: flex;
    flex-direction: column;
}

.dropdown-car {
    width: 268px;
    height: 116px;
}

.dropdown-carname {
    width: 237px;
    height: 42px;
}
/* END OF DROPDOWM */


/* FOOTER */
.footer {
    /* margin-bottom: 40px; */
}

.fa {
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    order: 1;
}

.fa:hover {
    color: #e40000;
    text-decoration: none;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    order: 3;
}

.prev-text {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}

.next-text {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}

.prev-text:hover {
    color: #e40000;
    text-decoration: none;
}

.next-text:hover {
    color: #e40000;
    text-decoration: none;
}

.left-arrow:hover {
    fill: #e40000;
}

.right-arrow:hover {
    fill: #e40000;
}

.counter-text {
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    margin-bottom: 0px;
}
/* END OF FOOTER */
/*---END-SHOME-PAGE*/

 /* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1199.98px) {
}
 /* Large devices (tablet, 992px and up) */

 @media (max-width: 993px) {

 }

@media (max-width: 991.98px) {
    .home-screen-container {
        margin-top: 50px;
        overflow-x: hidden;
    }
    
    /* .discover-more-btn {
        margin-top: 50px;
    } */
    
    .social-media {
        display: flex ;
        justify-content: center;
        align
        margin-top: 10px;
    }
    
    .pagination {
        margin-bottom: 20px;
    }

    .mouse {
        display: none;
    }

    .footer {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        /* margin-bottom: 50px; */
    }
    
    /* TOGGLE-MENU */
    .navbar-custom {
        display: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .logo-img {
        width: 169px;
        height: auto;
        padding: 10px;
    }
    
    .menu-btn {
        float: right;
        padding: 15px;
    }
    
    .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        padding: 15px;
    }
    
    .btn-style-2 {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
    }

    .btn-style-2:focus {
        outline: none;
    }
    
    .mobile-menu {
        text-align: right;
    }
    
    .flex-container {
        display: flex;
        justify-content:row;
        position: relative;
    }
    
    .flex-left {
        background-color: #e40000;
        height: 100vh;
        width: 73px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        bottom: 0;
        padding-bottom: 60px;
    }
    
    .flex-right {
        position: relative;
        width: calc(100% - 73px);
        padding-top: 60px;
        overflow-y: auto;
    }
    
    .nav-item {
        display: block;
    }
    
    .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        padding-top: 30px;
    }
    
    .menu-social-media {
        position: absolute;
        margin-top: 20px;
    }
    
    .menu-social-media .fa:hover {
        color: #e40000;
    }
    
    /* DROPDOWN */
    .dropdown {
        display: inline-block;
        position: relative;
    }
    
    .dropdown-button {
        position: relative;
        right: 15px;
        background-color: transparent;
        color: white;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-weight: 300;
        font-size: 30px;
    }
    
    .dropdown-button:hover {
        text-decoration: none;
        border: none;
        color: #e40000;
        cursor: pointer;
        border-bottom: 1px solid #e40000;
    }
    
    .dropdown-content {
        display: none;
        background-color: transparent;
        overflow: auto;
        position: relative;
        left: 50px;
    }
    
    .dropdown-items {
        list-style-type: none;
    }
    
    .dropdown-item {
        color: white;
        font-size: 22px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-item:hover {
        color: #e40000;
        background-color: transparent;
    }
      
    .show {
        display: block;
    }
    
    /* END OF DROPDOWM */
    
    /* MENU OVERLAY */
    .overlay {
        width: 100%;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: black;
        overflow-y: auto;
        transition: 0.5s;
    }
    /* END OF MENU OVERLAY */
    
    /* END OF TOGGLE-MENU */
}
 /* Medium devices (mobile, 768px and up) */

@media (max-width: 767.98px) {

}
/* Small devices (landscape phones, 576px and up) */

@media (max-width: 767.98px) {
}

